        body {
            margin: 0;
            background: #000;
            overflow: hidden;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        canvas {
            width: 100vw;
            height: calc((9/16)*100vw);

        }


        .frame-info {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1000;
            min-height: 50px;
            width: 100vw;
            background: rgb(255, 255, 255);
        }

        .frame-info mark {
            min-width: 3em;
            margin: 0 1em;
            text-align: center;
        }

        .frame-info time {
            min-width: 3em;
            margin: 0 1em;
            text-align: center;
        }

     
        .hide {
            display: none;
        }

        .await-hide {
            display: block;
        }

        .timeline {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 20000;
            min-height: 50px;
            width: 100vw;
            background: rgb(255, 255, 255);
        }

        

        .timeline i.bi {
            color: #000;
            font-size: 24px;
        }

        .timeline i.bi:hover {
            color: #291b1bb6;
        }

        .timeline input[type=range] {
            width: 90vw;
        }

        .Codemirror{
            height: 100%;
        }
       
    
        
        .highlighted-line{
            border-left: 4px solid red;
        }
    
        .note-gutter { 
            width: 3em;
            background: rgba(255,255,255,0.2);
         }
    
        .error-info{
            background: red;
            height: 12px;
            width: 3em;
            position: absolute;
        }
    